.menu {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-right : calc( 8% );
}

.menu a {
    color: black;
    font-weight: bold;
    text-decoration: none;

    font-size: 18px;

    padding: 0 10px;
}

:is(.introduce, .book):hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}