.expense-item {
    width: 98%;
    height: 100px;
    margin: 1% 1%;
    padding : 10px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-items: flex-end;

    background-color: bisque;
    border-radius: 10px;

    border: 1px solid aqua;
}

.expense-item__description {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.expense-item__price {
    width: 100px;
    height: 80px;
    border-radius: 10px;

    background-color: blueviolet;
    color: white;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border: 2px solid black;
    
}