.expense-filter__card{
    width: 100%;
    height: 50px;

    position: relative;
}

.expense-filter__select{
    position: absolute;
    right: 10px;
    top: 10px;

    height: 30px;
    width: 140px;

    border-radius: 5px;
}