.marker_explain {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}

.book_form {
    display: flex;    
    flex-direction: row;
    justify-content: center;

    margin-top: 15px;
}