.chart-bar__inner {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 5px;
    height: 70px;
    background-color: white;

    margin-left: 10px;
    margin-bottom: 5px;

    position: relative;
}

.chart-bar__fill {
    position: absolute;

    width: 5px;
    background-color: rgba(112, 52, 168, 0.872);
    bottom: 0;
}