.cart-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding : 10px 10px;
}

.menu {
    font-size: 20px;
    font-weight: bold;
}

.menu-detail {
    display: flex;
    flex-direction: row;
    width: 120px;
    margin-top : 5px;
}

.price {
    font-size : 14px;
    font-style: italic;
}

.amount {
    border: 1px solid rgb(190, 49, 49);
    border-radius: 5px;
    margin-left: 20px;
    padding: 0 10px;

    font-size: 14px;
    text-align: center;
    
    color: #686868;
}

.buttons-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

:is(.minus, .plus) {
    width: 50px;
    height: 30px;

    border: 1px solid rgb(190, 49, 49);
    background-color: white;
    color: rgb(190, 49, 49);
    border-radius: 5px;
    
    margin-left: 5px;

    cursor: pointer;
}

:is(.minus, .plus):hover {
    background-color: rgb(190, 49, 49);
    color: white;
}