.introduce {
    width: 600px;
    border-radius: 10px;
    padding: 30px;

    background-color: white;

    margin-bottom: 30px;
}

.tour_list {
    width: 100%;

    border: 1px solid black;
    border-radius: 10px;
    
    background-color: white;
}

.refresh_icon {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 10px;

    font-size: 16px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    margin-top: 10px;

    cursor: pointer;
}